body {
    background-color: #333333;
}
h1{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 450px;
    font-size: 50px;
    color:#f2f2f2;
}
#map_thumbs{
    columns: 400px 4;
    column-gap: 5px;
    list-style-type: none;
    padding: 0px;
    text-align: center;
}
#map_thumbs li{
    position: relative;
    width: 100%;
    text-align: center;
    display: inline-block;
}
#map_thumbs img{
    width: 400px;
    height: 225px;
    overflow: hidden;
    border: 3px solid black;
}
p {
    position: absolute;
    top: 112px;
    left: 0;
    width: 100%;
}
p span { 
    color: white; 
    font-family: 'PT Sans', sans-serif;
    font-size: 32px;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    width: 250px;
 }