body {
    background-color: #333333;
}
h1{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    margin: auto;
    padding-top: 20px;
    font-size: 4vw;
    color:#292825;
}
.container{
    width: 98%;
    height: auto;
    position: absolute;
}
header {
    background: #c39100;
    height: auto;
}
header::after {
    content: '';
    display: table;
    clear: both;
}
#topnav {
    position: relative;
    height: auto;
    width: 100%;
    margin: auto;
    border: 1px solid;
}
.logo {
    float: right;
    height: auto;
    width: 10%;
    left: 0;
    bottom: 0;
    vertical-align: bottom;
    padding-top: 1px;
}
.home {
    float: left;
    height: auto;
    width: 4%;
    left: 0;
    bottom: 0;
    margin: 4.6% 0 0 0;
    padding-left: 8px;
    border: 0;
    vertical-align: bottom;
}
nav {
    float: right;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    float: left;
    margin-left: 70px;
    padding-top: 65px;
    position: relative;
}
.map_list{
    max-width: 3840px;
    text-align: center;
    height: auto;
    overflow: hidden;
    z-index: 99;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0px solid black;
}
#map_thumbs{
    -webkit-columns: 4 300px;
    -moz-columns: 4 300px;
    columns: 4 300px;
    list-style-type: none;
    padding-inline-start: 0px;
    column-gap: 4px;
}
#map_thumbs li{
    position: relative;
    width: 100%;
    text-align: center;
}
#map_thumbs img{
    border: 4px solid black;
    width: 98%;
    margin: 0;
    padding 1px;
}
p {
    position: absolute;
    top: 40%;
    bottom: 50%;
    left: 0;
    right: 0;
    width: 100%;
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 2.7vw;
}
h2 {
        color: white;
        font-family: 'PT Sans', sans-serif;
        font-size: 2vw;
        margin: 20px 0px 4px 0px;
}
p span { 
    background: rgba(0, 0, 0, 0.7);
    padding: 1% 4% 1% 4%;
    position: relative;
    text-align: center;
 }
 #points{
    columns: 400px 2;
    column-gap: 5px;
    list-style-type: none;
    padding: 0px;
    text-align: center;
}
#points li{
    position: relative;
    width: 100%;
    text-align: center;
    display: inline-block;
}
#points img{
    width: 800px;
    height: 400px;
    overflow: hidden;
    border: 3px solid black;
}
.pointall a{
    text-decoration: none;
}
.thumbnail {
    max-width: 32%;
    border: solid #000;
    border-width: 3px;
  }
  /** LIGHTBOX MARKUP **/
  
  .lightbox {
      /** Default lightbox to hidden */
      display: none;
  
      /** Position and style */
      position: fixed;
      z-index: 999;
      width: 100%;
      height: 100%;
      text-align: center;
      top: 0;
      left: 0;
      background: rgba(0,0,0,0.9);
  }
  
  .lightbox img {
      /** Pad the lightbox image */
      max-width: 95%;
      max-height: 80%;
      margin-top: 2%;
  }
  
  .lightbox:target {
      /** Remove default browser outline */
      outline: none;
  
      /** Unhide lightbox **/
      display: block;
  }