h1{
    text-align: center;
    margin: 30 0 0 0;
}
#map_thumbs{
    columns: 250px 4;
    column-gap: 10px;
    list-style-type: none;
    padding: 5px;
    text-align: center;
}
#map_thumbs li{
    position: relative;
    width: 100%;
    text-align: center;
    display: inline-block;
}
p {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
}
p span { 
    color: white; 
    font: bold 32px/48px Helvetica, Sans-Serif; 
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    width: 250px;
 }